<form class="register-form">
  <h2>Register</h2>
  <div class="form-row">
    <div class="form-column">
      <label for="first-name">First Name:</label>
      <input
        type="text"
        id="first-name"
        name="first-name"
        required
        [(ngModel)]="user.name"
      />
    </div>
    <div class="form-column">
      <label for="last-name">Last Name:</label>
      <input
        type="text"
        id="last-name"
        name="last-name"
        required
        [(ngModel)]="user.surname"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-column">
      <label for="street">Street:</label>
      <input
        type="text"
        id="street"
        name="street"
        required
        [(ngModel)]="street"
      />
    </div>
    <div class="form-column">
      <label for="city">City:</label>
      <input
        type="text"
        id="city"
        name="city"
        required
        [(ngModel)]="city"
        />
    </div>
    <div class="form-column">
      <label for="state">State:</label>
      <input
        type="text"
        id="state"
        name="state"
        required
        [(ngModel)]="state"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-column">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        [(ngModel)]="user.email"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-column">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        [(ngModel)]="user.password"
        (input)="checkPasswordStrength()"
      />
    </div>
    <div class="form-column">
      <label for="re-password">Re-Password:</label>
      <input
        type="password"
        id="re-password"
        name="re-password"
        required
        [(ngModel)]="rePassword"
      />
    </div>
  </div>
  <div class="form-row">
    <label>Password Strength:</label>
      
    <div class="password-strength-meter">
      <div
        class="progress-bar"
        [ngStyle]="{ width: passwordStrength + '%' }"
        [ngClass]="{
          'very-weak': passwordStrength < 25,
          'weak': passwordStrength >= 25 && passwordStrength < 50,
          'medium': passwordStrength >= 50 && passwordStrength < 75,
          'strong': passwordStrength >= 75,
        }"
      ></div>
    </div>
  </div>
  <button type="submit" (click)="register()">Register</button>
</form>
