<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy. HH:mm:ss} %-5p [%-20c{1}] %m%n" />
        </Console>
        <RollingFile name="MyFile" fileName="./example.log" append="true" filePattern="./example.log.%i">
            <!-- alternatively use XmlLayout (requires Jackson, see documentation for dependencies) -->
            <PatternLayout pattern="%d{dd.MM.yyyy. HH:mm:ss} %-5p [%-20c{1}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.xyz.foo" level="info" />
        <Root level="info">
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>